// Google fonts-Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800&display=swap');
// Variables
$main-bg: #f7f7f9;
$contact-bg: #6070ff;
$h1toh6: #091e42;

@for $i from 1 through 6{
  h#{$i}{
    color: $h1toh6;
  }
}

h1{
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
}

a {
  font-weight: 500;
}

body {
  background-color: $main-bg;
}

header {
  background-color: white;
}

main {
  background-color: $main-bg;
}

footer {
  color: white;
  background-color: white;
}

.fab {
  font-size: 1.2rem;
}

.btn-primary {
  color: #396df2;
  background-color: white;
  border-color: #396df2;
  border-radius: 8px;

}

.footerholder {
  background-color: $contact-bg;
  border-top-left-radius: 5em;
}

.logo{
  text-decoration: none;
  font-size:20px;
}

#contact {
  border-top-left-radius: 8em;
  background-image: url('../img/background-desk.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a,
p,
h1,
h2,
h3,
h4,
ul,
li,
form,
button {
  font-family: 'Poppins', sans-serif;
}

.tools {
  background-color: #f7f7f9;
  flex:1
}

.hamburger {
  background-color: white;
}

.accordion-button:not(.collapsed){
  background-color: white;
}
.accordion-button:focus{
  border:none;
  box-shadow: none;
}
